$wrapper_bcg : #DFE362;


.carousel_item {
    position: relative;

    .caption__wrapper {
        // background-color: $wrapper_bcg;
        position: absolute;
        bottom : 11em;
        left : -2em;
        text-align: left;

        h1 {
            font-size: 1.5em;
        }

        h2 {
            font-size: 1.1em;
            line-height: 1.4;
        }
    }

    .cta__btn {
        padding : 6px 10px;
        background-color: var(--green-brand);
        border : none;
        color : #fff;
        font-weight: bold;
    }
}
